<?xml version="1.0"?>
<launch>

<node name="localize_cloud" pkg="cloud_match_ros" type="pc_localizer_node" output="screen">
	<rosparam command="load" file="$(find cloud_match_ros)/config/localization_conf.yaml" />
	<param name="template_file" value="$(find cloud_match_ros)/models/link0.pcd"/>
	<param name="input_cloud_topic" value="/cloud_pcd"/>
</node>


</launch>
